body{
				background-color:#ccffff;
border:7px solid;
margin-top:6px;
margin-left:9px;
margin-rigth:4px;
border-color:#ba55d3;
bacground:#ffd700;
color:#8098ff;
}
p{margin-left:9px;
margin-rigth:7px;
tex-align:justify;
font-size:12px;
}
img{border-style:dashed;
border-width:8px;
border-color:blue;
border-radius:20px;
}
